<div class="container-fluid">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/navbar"  target="_blank">Link to bootstrap navbar docs</a></p>
	
</div><!-- /.container-fluid --> 

<p>This recipe shows how to make Yamm3 work in Bootstrap 4, by adding text links.</p>