<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>

    {% include nav.html %}
    
    {{ content }}

    {% include footer.html %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="assets/js/jQuery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
  </body>
</html>