<div class="container-fluid">
 <div class="row">
 <div class="col-md-1">
 <img class="img-fluid" src="http://placehold.it/767x767/613d7c/ffffff?text=COL-MD-1">
 </div>
 <div class="col-md-1">
 <img class="img-fluid" src="http://placehold.it/767x767/5bc0de/ffffff?text=COL-MD-1">
 </div>
 <div class="col-md-1">
 <img class="img-fluid" src="http://placehold.it/767x767/0275d8/ffffff?text=COL-MD-1">
 </div>
 <div class="col-md-1">
 <img class="img-fluid" src="http://placehold.it/767x767/f0ad4e/ffffff?text=COL-MD-1">
 </div>
 <div class="col-md-1">
 <img class="img-fluid" src="http://placehold.it/767x767/d9534f/ffffff?text=COL-MD-1">
 </div>
 </div>
</div>