<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
  <p><a href="https://v4-alpha.getbootstrap.com/components/alerts/" target="_blank">Link to bootstrap alerts docs</a></p>
  
</div><!-- /.container --> 

<div class="col-12">

<div>

<div class="wrapper">
      

  <form method="post">
    <div class="form-group row">
      <label for="inputCustom" class="col-sm-2 col-form-label">Custom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputCustom" placeholder="Custom input">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Checkbox</label>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Check me out
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="button" id="submit" class="btn btn-primary">Sign in or Send</button>
      </div>
    </div>
  </form>


  </div>

</div>
