    <div class="card">
      <img class="card-img-top img-fluid" src="http://placehold.it/300x250" alt="Card image description">
      <div class="card-block">
        <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia autem, placeat dolorem sed praesentium aliquid suscipit tenetur iure perspiciatis sint?</p>
      </div>
    </div>