<div class="container">
	<h1>About</h1>
	<p class="display-8 mb-5">This is the file and folder structure of Chapter 3:</p>
	<div class="highlight bg-white pl-5">
	<pre>
		<code>
chapter3
    ├── app/
    |    ├── css/...
    |    ├── js/...
    |    ├── partial/
    |    |     ├── _js.ejs
    |    |     └── _nav.ejs
    |    ├── www/...
    |    ├── _data.json
    |    ├── _harp.json
    |    ├── _layout.ejs
    |    ├── about.ejs
    |    ├── index.ejs
    |    ├── recipe1.ejs
    |    ├── ...
    |    └── recipe8.ejs
    ├── bower_components/
    |        ├── bootstrap/...
    |        ├── font-awesome/...
    |	     ├── hover/...
    |	     ├── jquery/...
    |	     └── tether/...
    ├── grunt/
    |	node_modules/...
    |	Gruntfile.js
    |	package.json
    ├── main.scss
    ├── main-03-01.scss
    ├── main-03-02.scss
    ├── main-03-03.scss
    ├── main-03-04.scss
    └── main-03-07.scss
		</code>
	</pre>
</div>
</div>