<!-- 0807-03-nav-tabs-menu -->
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs justify-content-start justify-content-sm-center justify-content-md-end  justify-content-lg-between justify-content-xl-around" role="tablist">
        
        <!-- first tab link -->
        <li class="nav-item">
          <a class="nav-link active" href="#first" id="the-first-tab" role="tab" data-toggle="tab" aria-controls="First" aria-expanded="true">First</a>
        </li>

        <!-- second tab link -->
        <li class="nav-item">
          <a class="nav-link" href="#second" role="tab" id="the-second-tab" data-toggle="tab" aria-controls="Second">Second</a>
        </li>

        <!-- third tab link -->
        <li class="nav-item">
          <a class="nav-link" href="#third" role="tab" id="the-third-tab" data-toggle="tab" aria-controls="Third">Third</a>
        </li>

        <!-- fourth tab link (dropdown) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Fourth</a>
          
          <div class="dropdown-menu">

            <!-- the first dropdown link -->
            <a class="dropdown-item" href="#fourth-a-dropdown" role="tab" id="the-fourth-a-tab" data-toggle="tab" aria-controls="Fourth A">Fourth A</a>

            <!-- the second dropdown link -->
            <a class="dropdown-item" href="#fourth-b-dropdown" role="tab" id="the-fourth-b-tab" data-toggle="tab" aria-controls="Fourth B">Fourth B</a>

            <!-- the third dropdown link -->
            <a class="dropdown-item" href="#fourth-c-dropdown" role="tab" id="the-fourth-c-tab" data-toggle="tab" aria-controls="Fourth C">Fourth C</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>