<!-- _0807-01-recipe intro -->
<div class="container">

<h2 class="mt-5 pb-3">Recipe 08-07: Positioning Nav-tabs with Flexbox</h2>

<p class="mt-4">In this recipe we will look at positioning nav-tabs with flexbox.</p>

<p class="mt-4">We will also utilize several partials to create a complex nav-tabs menu.</p>

</div>