<!-- _0807-04-the-actual-tabs-content -->
<div class="container p-5"id="wrapper-for-tab-content">
  <div class="tab-content">

    <!-- first tab content -->
    <div role="tabpanel" class="tab-pane fade show active" id="first" aria-labelledby="the-first-tab">
      <h2>First Tab Content</h2>
      <%- partial("_tab-pane-container") %>
    </div>

    <!-- second tab content -->
    <div role="tabpanel" class="tab-pane fade" id="second" aria-labelledby="the-second-tab">
      <h2>Second Tab Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, aperiam.</p>
    </div>

    <!-- third tab content -->
    <div role="tabpanel" class="tab-pane fade" id="third" aria-labelledby="the-third-tab">
      <h2>Third Tab Content</h2>
      <%- partial("_tab-pane-container") %>
    </div>

    <!-- fourth tab, first dropdown content -->
    <div role="tabpanel" class="tab-pane fade" id="fourth-a-dropdown" aria-labelledby="the-fourth-a-tab">
      <h2>Fourth Tab, First Dropdown Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, aperiam.</p>
    </div>

    <!-- fourth tab, second dropdown content -->
    <div role="tabpanel" class="tab-pane fade" id="fourth-b-dropdown" aria-labelledby="the-fourth-b-tab">
      <h2 class="bg-success text-white">Fourth Tab, Second Dropdown Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, aperiam.</p>
    </div>

    <!-- fourth tab, third dropdown content -->
    <div role="tabpanel" class="tab-pane fade" id="fourth-c-dropdown" aria-labelledby="the-fourth-c-tab">
      <h2>Fourth Tab, Third Dropdown Content</h2>
      <p class="bg-danger text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, aperiam.</p>
    </div>

  </div>
</div>