<div class="card h-100">
  <img class="card-img-top" src="http://lorempixel.com/400/270/city/">
  <div class="card-block d-flex flex-column">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
    <a href="#" class="btn btn-primary btn-block mt-auto">Go somewhere</a>
  </div>
</div>