<div class="card h-100">
  <img class="card-img-top" src="http://lorempixel.com/400/280/business/">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
  </div>
</div>