  <div class="col m-1 bg-info">This div spans the remaining space on the left.</div>
  <div class="col-12 col-sm-7 m-1 bg-warning">This div spans seven columns.</div>
  <div class="col m-1 bg-info">This div spans the remaining space on the right.</div>