<div class="container">
  <div class="row align-content-center">
      <%- partial("_card-0807-01") %>
      <%- partial("_card-0807-01") %>
      <%- partial("_card-0807-01") %>
      <%- partial("_card-0807-01") %>
  </div>
</div>