<nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <a class="navbar-brand" href="index.html">Chapter 7</a>

 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
 <ul class="navbar-nav mr-auto">
 <li class="nav-item active">

 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
 <div class="dropdown-menu" aria-labelledby="dropdown01">
 <a class="dropdown-item" href="recipe07-01">1 - Making the Simplest Possible jQuery Plugin</a>
 <a class="dropdown-item" href="recipe07-02">2 - Creating a More Complex Plugin by Using the extend() Method</a>
 <a class="dropdown-item" href="recipe07-03">3 - Creating a Plugin and Using it with Bootstrap 4</a>
 </div>
 </li>
  
 </li>
 </ul>

 </div>
 </nav>