<div class="container">

  <div class="mt-5">
    <h1 class="mb-2"><%- title %></h1>
	<h3 class="text-info mb-3">List of recipe-related official Bootstrap documentation</h3>
	<p><a href="https://v4-alpha.getbootstrap.com/components/buttons/" target="_blank">Link to bootstrap buttons docs</a></p>	
	<p><a href="https://v4-alpha.getbootstrap.com/components/button-group/" target="_blank">Link to bootstrap button-groups docs</a></p>	
	<p><a href="https://v4-alpha.getbootstrap.com/components/dropdowns/" target="_blank">Link to bootstrap dropdowns docs</a></p>	
	<p><a href="https://v4-alpha.getbootstrap.com/components/pagination/" target="_blank">Link to bootstrap pagination docs</a></p>
	
</div><!-- /.container --> 

<h3 class="mt-5 mb-3">Here is an example of using the Bootstrap sass mixin to create a custom button</h3>

<p>First, we will import the mixins into our <code>main.scss</code> file, using the following <code>@import</code> statement:
<code>@import "./bower_components/bootstrap/scss/_mixins.scss";</code></p>

<p>Next, we will add the <code>@import</code> for the custom scss file for this recipe (recipe 5 of chapter 4).</p>

<p>Finally, we'll add the custom code for the button, by specifying the values as described in the code comment.</p>

<a class="btn btn-tomato" href="#" role="button">Custom Button (Tomato)</a>
<button class="btn btn-green" type="button">Custom Button (Green)</button>
<input class="btn btn-purple" type="button" value="Custom Button (Purple)">
<br>
<br>
<a class="btn btn-outline-tomato" href="#" role="button">Custom Button (Tomato)</a>
<button class="btn btn-outline-green" type="button">Custom Button (Green)</button>
<input class="btn btn-outline-purple" type="button" value="Custom Button (Purple)">
