<div class="container">
<div class="mt-5">
  <h1><%- title %></h1>
  <p><a href="https://v4-alpha.getbootstrap.com/components/navbar/" target="_blank">Link to bootstrap navbar docs</a></p>
</div>
<!-- /.container --> 
<div class="col-12">
<div>
<div class="wrapper">
  <p class="h2">This recipe showcases the use of simpler-sidebar, integrated with Bootstrap 4.</p>
  <p>The code for the plugin is available at <a href="https://github.com/simple-sidebar/simpler-sidebar" target="_blank">https://github.com/simple-sidebar/simpler-sidebar</a>.</p>
</div>