<div class="col col-md-6 col-xl-4 mt-3 mb-4">
  <div class="card">
    <img class="card-img-top" src="http://lorempixel.com/400/320/city/">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
      <a href="#" class="btn btn-primary btn-block mt-auto">Go somewhere</a>
    </div>
  </div>
</div>