<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <a class="navbar-brand" href="index.html">Chapter 8</a>

 <div class="collapse navbar-collapse" id="navbarExample">
 <ul class="navbar-nav mr-auto">
 <li class="nav-item active">

 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
 <div class="dropdown-menu" aria-labelledby="dropdown01">
 <a class="dropdown-item" href="recipe08-01">1 - Breakpoint-dependent Switching of Flex Direction on Card Components</a>
 <a class="dropdown-item" href="recipe08-02">2 - Letting Cards Take Up Space with the <code>.flex-wrap</code> and <code>.col</code> Classes</a>
 <a class="dropdown-item" href="recipe08-03">3 - Adding Any Number of Columnns with Flexbox</a>
 <a class="dropdown-item" href="recipe08-04">4 - Combining Numbered <code>.col</code> Classes with Plain <code>.col</code> Clsses</a> 
 <a class="dropdown-item" href="recipe08-05">5 - Working with Card Layouts and the Flexbox Grid</a>
 <a class="dropdown-item" href="recipe08-06">6 - Center-Aligning Cards on Wider Viewports Only</a>
 <a class="dropdown-item" href="recipe08-07">7 - Positioning Nav-tabs with Flexbox</a>
 </div>
 </li>
  <a class="nav-link" href="about">About</a>
 </li>
 </ul>
 
 </div>
 </nav>