<div class="row">
  <div class="col p-1 bg-info">This div spans the remaining space on the left.</div>
  <div class="col-9 p-1 bg-warning">This div spans seven columns.</div>
  <div class="col p-1 bg-info">This div spans the remaining space on the right.</div>
</div>