
<div class="container-fluid bg-faded pt-5 pb-5">
  <div class="container">
    <h2 class="h3 text-center">With "old-school" <code>col-*</code> classes:</h2>

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card card-outline-success card-white">
              <img class="card-img-top img-responsive" src="http://lorempixel.com/400/800/food/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card card-outline-success card-white">
              <img class="card-img-top img-responsive" src="http://lorempixel.com/400/800/nature/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card card-outline-success card-white">
               <img class="card-img-top img-responsive" src="http://lorempixel.com/400/800/animals/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
    </div>
    
  </div>
</div>