<div id="navbar">
  <!--
    #navbar is positioned fixed.
    
    It does not matter what kind of element #toggle-sidebar is.
    -->
  <div class="d-flex justify-content-center mt-5">
    <h1 style="font-family: 'Pacifico', cursive; color: #8a9">Our Website Name</h1>
  </div>
  <div class="d-flex justify-content-center">
    <button id="toggle-sidebar" class="btn btn-primary btn-large mt-5">MENU</button>
  </div>
</div>
<div id="sidebar">
  <!--
    simpler-sidebar will handle #sidebar's position.
    
    To let the content of your sidebar overflow, especially when you have a lot of content in it, you have to add a "wrapper" that wraps all content.
    
    TIP: provide a background color.
    -->
  <div id="sidebar-wrapper" class="sidebar-wrapper">
    <!--
      Links below are just an example. Give each clickable element, for example links, a class to trigger the closing animation.
      -->
    <div class="col sidebar-offcanvas mt-5 pr-5" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div>
  </div>
</div>