<div class="container-fluid">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/forms/" target="_blank">Link to bootstrap forms docs</a></p>
  </div>
	
</div><!-- /.container --> 

<div class="container-fluid mt-5">
	<h2 class="text-center">Centered inline form</h2>
	<form class="form-inline justify-content-center">
	  <label class="sr-only" for="inlineFormInput">Name</label>
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">

	  <label class="sr-only" for="inlineFormInputGroup">Username</label>
	  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		<div class="input-group-addon">@</div>
		<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
	  </div>

	  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
		<label class="form-check-label">
		  <input class="form-check-input" type="checkbox"> Remember me
		</label>
	  </div>

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<div class="container-fluid mt-5">
	<h2 class="text-left">Left-aligned inline form</h2>
	<form class="form-inline justify-content-start">
	  <label class="sr-only" for="inlineFormInput">Name</label>
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">

	  <label class="sr-only" for="inlineFormInputGroup">Username</label>
	  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		<div class="input-group-addon">@</div>
		<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
	  </div>

	  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
		<label class="form-check-label">
		  <input class="form-check-input" type="checkbox"> Remember me
		</label>
	  </div>

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<div class="container-fluid mt-5">
	<h2 class="text-right">Right-aligned inline form</h2>
	<form class="form-inline justify-content-end">
	  <label class="sr-only" for="inlineFormInput">Name</label>
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">

	  <label class="sr-only" for="inlineFormInputGroup">Username</label>
	  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		<div class="input-group-addon">@</div>
		<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
	  </div>

	  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
		<label class="form-check-label">
		  <input class="form-check-input" type="checkbox"> Remember me
		</label>
	  </div>

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>