<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
  <p><a href="https://v4-alpha.getbootstrap.com/components/" target="_blank">Link to bootstrap docs</a></p>
  
</div><!-- /.container --> 

<div class="col-12 col-md-5">

<div>

<div class="wrapper">

<input
    type="range"
    min="10"
    max="1000"
    step="10"
    value="300"
    data-orientation="vertical"
>

</div>

</div>
