<div class="container">

<div class="mt-5">
  
<h1><%- title %></h1>
  
<p class="mt-4">This recipe helps us understand how to add default options and how to override them, with the help of the extend() method.</p>
  
</div><!-- /.container --> 

</div>