
<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-info">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right text-white mt-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    ☰
  </button>
  <a class="navbar-brand text-white" href="#">Navbar</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav mr-sm-2">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Banking Services <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Constulting Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Archived Data Access</a>
      </li>
    </ul>
  </div>
  </div>
</nav>