<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
	
	<div class="mt-2 text-justify">This webpage contains the recipes from the 4th chapter of <a href="#" class="bg-faded">Bootstrap 4 Cookbook</a>:
	    <ul class="mt-2">
	    	<li>Author: <a href="#" class="bg-faded">Ajdin Imsirovic</a></li>
	    	<li>Technical Reviewer: <a href="#" class="bg-faded">Zlatko Alomerovic</a></li>
	    	<li>Publisher: <a href="#" class="bg-faded">Packt Publishing</a></li>
	    </ul>
    </div>

</div><!-- /.container --> 