<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/" target="_blank">Link to bootstrap docs</a></p>
	
</div><!-- /.container --> 



<p>In this recipe, will further decrease the size of our CSS file by removing CSS comments.</p>
