<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/" target="_blank">Link to bootstrap docs</a></p>
	
</div><!-- /.container --> 


<p>This web page is using a CSS stylesheet compiled from only a few scss partial files. Many files were not included, such as partials for components such as the jumbotron, alert, progress etc.</p>

<p>For example, the code for the button below was not included, and thus the regular Bootstrap 4 styles for buttons no longer apply.</p>

<p>To make the button work again, uncomment the appropriate scss partial, as explained in step 11 of recipe 09-01.</p>

<button type="button" class="btn btn-primary">Primary</button>
