<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/forms/#checkboxes-and-radios" target="_blank">Link to bootstrap docs on checkboxes and radios</a></p>
	
</div><!-- /.container --> 

<div class="col-12 col-md-5">

<div class="checkbox">
  <label>
    <input type="checkbox" data-toggle="toggle" checkedX>
    Option one is enabled
  </label>
</div>
<div class="checkbox disabled">
  <label>
    <input type="checkbox" disabled data-toggle="toggle">
    Option two is disabled
  </label>
</div>

</div>

