<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
  <p><a href="https://v4-alpha.getbootstrap.com/components/alerts/" target="_blank">Link to bootstrap alerts docs</a></p>
  
</div><!-- /.container --> 

<div class="col-12 col-md-5">

<div>

<div class="wrapper">

<form>
  <div class="form-group">
    <label>Make one or more selections</label>
    <select class="js-example-basic-multiple form-control" multiple="multiple">
    <optgroup label="Alaskan/Hawaiian Time Zone">
      <option value="AK">Alaska</option>
      <option value="HI">Hawaii</option>
    </optgroup>
    <optgroup label="Pacific Time Zone">
      <option value="CA">California</option>
      <option value="NV">Nevada</option>
      <option value="OR">Oregon</option>
      <option value="WA">Washington</option>
    </optgroup>
    <optgroup label="Mountain Time Zone">
      <option value="AZ">Arizona</option>
      <option value="CO">Colorado</option>
      <option value="ID">Idaho</option>
      <option value="MT">Montana</option>
    </optgroup>
    </select>
  </div>
</form>

</div>

</div>
