<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
  <p><a href="https://v4-alpha.getbootstrap.com/components/pagination/" target="_blank">Link to bootstrap pagination docs</a></p>
  
</div><!-- /.container --> 

<div class="col-12">

<div>

<div class="wrapper">
      

    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination"></ul>
    </nav>



  </div>

</div>
