
 <div class="container">

 <div class="starter-template">
 <h1>Bootstrap 4 Grid Recipe</h1>
 <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
 </div>

 </div>

 
<%# partial("partial/_defaultGrid") %>
<%# partial("partial/_chapter02-05-html") %>
<%- partial("partial/_chapter02-06-html") %>
<%# partial("partial/_chapter02-06-html") %>
<%# partial("partial/_chapter02-07-html") %>
<%# partial("partial/_chapter02-08-html") %>