<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/buttons/" target="_blank">Link to bootstrap buttons docs</a></p>	
	<p><a href="https://v4-alpha.getbootstrap.com/components/button-group/" target="_blank">Link to bootstrap button-groups docs</a></p>	
	<p><a href="https://v4-alpha.getbootstrap.com/components/dropdowns/" target="_blank">Link to bootstrap dropdowns docs</a></p>	
	<p><a href="https://v4-alpha.getbootstrap.com/components/pagination/" target="_blank">Link to bootstrap pagination docs</a></p>
	
</div><!-- /.container --> 

<h3 class="mt-5 mb-3">Here is an example of using a Bootstrap sass mixin to ccustomize the rounding of buttons.</h3>

<p>Add the <code>@import</code> for the custom scss file for this recipe (recipe 6 of chapter 4).</p>

<p>Finally, we'll add the custom code for the button, by specifying the values as described in the code comments.</p>

<a class="btn btn-tomato" href="#" role="button">Custom Rounded Button (Tomato)</a>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-green">Custom</button>
  <button type="button" class="btn btn-green">Rounded</button>
  <button type="button" class="btn btn-green">Green</button>
  <button type="button" class="btn btn-green">Button</button>
  <button type="button" class="btn btn-green">Group</button>
</div>


<div class="dropup mt-2">
  <button class="btn btn-purple dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	A Square Dropup button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	<a class="dropdown-item" href="#">Action</a>
	<a class="dropdown-item" href="#">Another action</a>
	<a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
