<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>
        <%- title %>
    </title>

    <!-- Bootstrap core CSS -->
    <link href="css/main.css" rel="stylesheet">

</head>

<body class="bg-faded-green">

    <%- partial("partial/_nav") %>

        <%- yield %>

	<%- partial("partial/_js") %>

</body>
</html>