<div class="container">

<h2 class="mt-5">Recipe 08-04: Combining Numbered <code>col</code> Classes with Plain <code>col</code> Classes</h2>

<p class="mt-4">In this recipe we will look at combining the numbered <code>col</code> classes with plain <code>col</code> classes to create layouts that were not possible in earlier versions of Bootstrap.</p>

<p class="mt-4">For example, setting the middle div to the width of seven columns, with the left and right divs taking up the rest of the space.</p>


</div><!-- /.container -->

<div class="container">

<div class="row bg-faded">
  <%- partial("partial/_seven-cols-in-the-center") %>
</div>
