<div class="container">

<h2 class="mt-5 pb-3">Recipe 08-06: Center-Aligning Cards on Wider Viewports Only</h2>

<p class="mt-4">In this recipe we will look at centering the card content with flexbox.</p>

</div><!-- /.container -->

<style>
.col {
  min-width: 280px;
}
.card img {
  max-height: 320px;
  /* height: 300px; */
  object-fit: cover;
  object-position: 50% 10%; /* object-position: <from-left> <from-top> */
}
</style>

<div class="container-fluid bg-faded pt-5 pb-5">
  <div class="container">
    
    <div class="row align-items-lg-center">
        <div class="col mt-3 mb-3">
            <%- partial("partial/_card-0806-01") %>
        </div>
        <div class="col mt-3 mb-3">
            <%- partial("partial/_card-0806-02") %>
        </div>
        <div class="col mt-3 mb-3">
            <%- partial("partial/_card-0806-03") %>
        </div>
    </div>
    
  </div>
</div>