<div class="container">

<h2 class="mt-5">Recipe 08-01: Breakpoint-dependent Switching of Flex Direction on Card Components</h2>

<p>In this recipe we'll switch DIRECTION, between a vertical (.flex-{breakpoint}column), and a horizontal (.flex-{breakpoint}-row) stacking of cards.</p>

<p>This recipe will introduce us to the flexbox grid in Bootstrap 4.</p>


</div><!-- /.container -->

<div class="container d-flex flex-column flex-lg-row">

    <%- partial("partial/_card0") %>
    <%- partial("partial/_card0") %>
    <%- partial("partial/_card0") %>
    <%- partial("partial/_card0") %>

</div>