<nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <a class="navbar-brand" href="index.html">Chapter 6</a>

 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
 <ul class="navbar-nav mr-auto">
 <li class="nav-item active">

 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
 <div class="dropdown-menu" aria-labelledby="dropdown01">
 <a class="dropdown-item" href="recipe06-01">1 - Converting Checkboxes into Toggles with Bootstrap Toggle plugin</a>
 <a class="dropdown-item" href="recipe06-02">2 - Onboarding Users with Bootstrap Tour plugin</a>
 <a class="dropdown-item" href="recipe06-03">3 - Toggling Visibility of Password Fields with Custom jQuery Code</a>
 <a class="dropdown-item" href="recipe06-04">4 - Extending Functionality of Select Elements with Bootstrap Select plugin</a>
 <a class="dropdown-item" href="recipe06-05">5 - Customizing Select Boxes with Select2 plugin</a>
 <a class="dropdown-item" href="recipe06-06">6 - Adding Input Sliders with Rangeslider.js</a> 
 <a class="dropdown-item" href="recipe06-07">7 - Easily Add Dates to Your Inputs with jQuery UI Datepicker</a>
 <a class="dropdown-item" href="recipe06-08">8 - Converting Plain Tables into Sophisticated Data Tables with Bootgrid</a>
 <a class="dropdown-item" href="recipe06-09">9 - Navigating Easily with jQuery mdStrap</a>
 <a class="dropdown-item" href="recipe06-10">10 - Add Fully Customizable Notifications with Notifyjs</a>
 <a class="dropdown-item" href="recipe06-11">11 - Integrating a Fancy Modal using animatedModal.js</a>
 <a class="dropdown-item" href="recipe06-12">12 - Making Pagination Dynamic with the jQuery Pagination Plugin and simplePagination.js</a>
 <a class="dropdown-item" href="recipe06-13">13 - Validating Forms with svalidatejs</a>
 <a class="dropdown-item" href="recipe06-14">14 - Adding a Rating System Using jQuery Bar Rating Plugin</a>
 </div>
 </li>
  <a class="nav-link" href="about">About</a>
 </li>
 </ul>
 </div>
 </nav>