<div class="container">
  <div class="mt-5">
    <h1><%- title %></h1>
    <p><a href="https://v4-alpha.getbootstrap.com/components/" target="_blank">Link to bootstrap docs</a></p>
  </div>
</div><!-- /.container --> 
<div class="col-12">
  <div class="container">
    <!--Call your modal-->
    <a id="demo01" href="#animatedModal" class="btn btn-lg btn-success">DEMO01</a>
    <!--DEMO01-->
    <div id="animatedModal">
      <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
      <div class="close-animatedModal"> 
        <span class="btn btn-lg hvr-wobble btn-primary text-center mt-5 ml-5" style="cursor: pointer"><span class="fa fa-close fa4x"></span> Close Modal</span>
      </div>
      <!--    
        <div class="modal-content"> 
        -->
      <!--Your modal content goes here-->
      <!--
        </div>
        -->
      <div class="container container-narrow">
        <div class="row">
          <div class="col">
            <div class="col mt-5">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col mt-5">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>