<div class="container">

    <div class="mt-5">
        <h1><%- title %></h1>
        <p><a href="https://v4-alpha.getbootstrap.com/components/navbar/" target="_blank">Link to bootstrap navbar docs</a>
        </p>
    </div>
    <!-- /.container -->

    <p>In this recipe we will use icons and flexbox to make a custom navbar.</p>

    <p>Resize the browser window to see several effects, such as the movement of the navbar brand image, controlled by the <code>align-items-*</code> classes.</p>
</div>