<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/tooltips/" target="_blank">Link to bootstrap tooltips docs</a></p>
	
</div><!-- /.container --> 

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
  Tooltip on right
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
</button>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
  Tooltip on left
</button>
<br>
<br>
<br>

<a href="#" class="" data-toggle="tooltip" title="whatevers" data-placement="bottom">Tooltips can be added to links...</a>
<br>
<ul>
	<li class="" data-toggle="tooltip" title="whatevers" data-placement="right">just an unordered  list item</li>
	<br>
	<li class="" data-toggle="tooltip" title="whatevers" data-placement="right">just another unordered list item</li>
</ul>
<br>
<ul>
	<li class="d-inline-block" data-toggle="tooltip" title="whatevers" data-placement="right">this list item has the class of <code>.d-inline-block</code>so it doesn't span the full width of the parent</li>
	<br>
	<li class="d-inline-block" data-toggle="tooltip" title="whatevers" data-placement="right">this list item has the class of <code>.d-inline-block</code>so it doesn't span the full width of the parent</li>
</ul>
