// Recipe 02-08

@import "./bower_components/bootstrap/scss/bootstrap.scss";
@import "./bower_components/font-awesome/scss/font-awesome.scss";

.jumbotron-background {
color: white;
background:  linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.35) 100%),
             url('img/pexels-photo-296878.jpeg') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}