<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>
        <%- title %>
    </title>

    <!-- Bootstrap core CSS -->
    <link href="css/main.css" rel="stylesheet">

</head>

<body>

    <%- partial("partial/_nav1") %>
    <%# partial("partial/_nav2") %>
    <%# partial("partial/_nav3") %>
    <%# partial("partial/_nav4") %>
    <%# partial("partial/_nav5") %>
    <%# partial("partial/_nav6") %>
    <%# partial("partial/_nav7") %>
    <%# partial("partial/_nav8") %>

        <%- yield %>

	<%- partial("partial/_js") %>

</body>
</html>