<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/navbar/" target="_blank">Link to bootstrap navbar docs</a></p>
	
</div><!-- /.container --> 


<p>We are using a customized version of the navbar used on the official bootstrap 4 website.</p>

<p>It is customized by adding the <code>&lt;span&gt;</code> tags with the fa classes to display specific icons, on either side of different links.</p>