<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
  <p><a href="https://v4-alpha.getbootstrap.com/content/tables/" target="_blank">Link to bootstrap tables' docs</a></p>
  
</div><!-- /.container --> 

<div class="col-12">

<div>

<div class="wrapper">

<table id="grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="id" data-type="numeric">ID</th>
            <th data-column-id="sender">Sender</th>
            <th data-column-id="received" data-order="desc">Received</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12345</td>
            <td>eduardo@pingpong.com</td>
            <td>14.10.2013</td>
        </tr>
        <tr>
            <td>67890</td>
            <td>asdf@pingpong.com</td>
            <td>11.10.2013</td>
        </tr>
        <tr>
            <td>13579</td>
            <td>qwerty@pingpong.com</td>
            <td>11.10.2017</td>
        </tr>
    </tbody>
</table>
</div>